/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
====================
BASE
====================
*/
html {
    font-size: 62.5%;
}

body {
    padding: 50px;
    font-size: 1.6rem;
}

/*
====================
LAYOUT
====================
*/
.div-keys {
 
}


/*
====================
MODULES
====================
*/
.div-keys {
    margin: 8px;
    padding: 2rem;
    height: 1.2rem;
    width: 1.2rem;
}

.div-outer {
    padding: 1.2rem;
}

.div-output {
    margin: 4.8rem auto;
    height: 48px;
    width: 90%;
}

.div-row {
    display: flex;
    justify-content: space-evenly;
}


/*
====================
STATE
====================
*/

/*
====================
THEME
====================
*/
.div-keys {
    background: white;
    border-radius: 50%;
    font-size: 2.4rem;
    font-weight: bold;
}

.div-outer {
    background: black;
}

.div-output {
    background: white;
    font-size: 3.2rem;
}